@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}
.userInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    /* color: #FFF; */
    width: 100vw;
    height: auto;
}
#greetMsg{
    align-self: center;
    margin-top: 1rem;
    font-size: 120%;
    color: white;
}
#userData{
    display: flex;
    width: 100vw;
    height: 95vh;

}
#detailShow{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: skyblue;
    border-radius: 3rem;
    margin: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
#userlist{
    display: flex;
    background-color: bisque;
    padding: 1rem;
    border-radius: 3rem;
    margin: 1rem;
} 
#userDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem;
    background-color: skyblue;
    align-items: center;
    width: 100%;
    
}

#showUserList{
    width: 100%;
    height: 100%;
    
    
}
th{
    
    background-color: skyblue !important;
    padding-left: 1rem;
}
tr:nth-child(even){
    background:  #fff2df;
    color: black;
}
tr:nth-child(odd){
    background: #f9fbfc;
    color: black;
}
tr:hover{
    background-color: paleturquoise;
    color: black;
}
table{

    border-collapse: collapse;
    border-spacing: 3rem;
}


#userDetails ul{
    list-style-type:none;
    width: 100%;
    


}
#userDetails ul li{
    padding-bottom: .5rem;
    color: #FFF;
    font-size: 110%;

}
#userDetails ul li img{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    margin-left: 30%;
    background-color: #FFF;
}
button{
     background-color: rgb(154, 154, 204);
    border-radius: 1rem;
    margin-left: .5rem;
    color: #FFF;

}
button:hover{
    cursor:pointer;
} 

    

/* Small Devices, Tablets */
@media only screen and (max-width : 851px) {
    #userData{
        flex-direction: column;
        height: 100%;

    }
    #detailShow{
        width: 96%;

    }
    #userlist{
        width: 96%;

    }
    #showUserList{
        width: 100%;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 651px) {

#userData{
        flex-direction: column;

    }
    #detailShow{
        width: 96%;
        height: 100%;
}

    #userlist{
        width: 96%;
        margin-left: 0;
        overflow-x: scroll;

    }
    #userDetails ul{
        padding: 0;
    }
    #showUserList{
        width: 100%;
    }
}


@media only screen and (max-width :510px) {
    #userlist{
        width: 100%;
        margin: auto;
    }
    #showUserList{
        display: flex;
        width: 100%;
        overflow-x: scroll;
    }
    #detailShow{
        margin: auto;
        align-items: center;
        padding-left: 1rem;
    }
}